# https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### .gitignore
**/.gitignore @cmenke42

#### Docker related files
# Root level files
/compose.override.yml @cmenke42
/docker-compose.yml @cmenke42

# Frontend
/FrontEnd/docker/ @cmenke42
/FrontEnd/docker-compose.yml @cmenke42

# PgAdmin
/PgAdmin/ @cmenke42

# User Management
/UserManagement/api/docker/ @cmenke42
/UserManagement/api/docker-compose.yml @cmenke42