# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Docker and secrets
**/secrets/*
.env
**/ssl/certs*

# Visual Studio Code
.vscode/*
# include tasks.json
!.vscode/tasks.json

# virtual environments
**/.venv/
**/.env/
**/env/
**/venv/

# node
node_modules/