# Docker Compose configuration for the Transcendence project

# More info for include:
# https://docs.docker.com/compose/compose-file/14-include/

# Including the microservices
include:
  #- PgAdmin/docker-compose.yml
  - FrontEnd/docker-compose.yml
  - UserManagement/docker-compose.yml

name: transcendence

# networks:
#   user_management:
#       driver: bridge
volumes:
  ssl_certs:
    driver: local
    driver_opts:
        type: none
        o: bind
        device: ./ssl/certs