<div class="container-fluid">
  <div class="row">
    <!-- Tournament Rounds -->
    <div class="col-md-8">
      <div class="tournament-rounds text-center">
        <button class="btn btn-outline-info mb-3" (click)="togglePlayerInfo()">Players List</button>
        
        <!-- Players List (initially hidden) -->
        <div class="participants-list" [ngClass]="{'d-none': !showPlayerInfo}">
          <h3>Participants</h3>
          <ul class="list-group">
            @for (participant of playerInfo; track participant.user_id) {
              <li class="list-group-item">{{ participant.player.nickname }}</li>
            }
          </ul>
        </div>

        <div class="d-flex flex-column flex-md-row">
          @for (round of matchesByRound | keyvalue; track round.key) {
            <div class="round mx-3">
              <h3>Round {{ round.key }}</h3>
              @for (match of round.value; track match.id) {
                <div class="match mb-3">
                  <div class="d-flex flex-column align-items-center">
                    @if (match.player_1) {
                      <span [class.winner]="match.winner?.user_id === match.player_1.user_id">
                        {{ match.player_1.nickname }}
                        @if (match.winner?.user_id === match.player_1.user_id) {
                          <span class="trophy">🏆</span>
                        }
                      </span>
                    } @else {
                      <span class="tbd">TBD</span>
                    }
                    <span class="vs">vs</span>
                    @if (match.player_2) {
                      <span [class.winner]="match.winner?.user_id === match.player_2.user_id">
                        {{ match.player_2.nickname }}
                        @if (match.winner?.user_id === match.player_2.user_id) {
                          <span class="trophy">🏆</span>
                        }
                      </span>
                    } @else {
                      <span class="tbd">
                        @if (round.key === 0) {
                          Bye
                        } @else {
                          TBD
                        }
                      </span>
                    }
                  </div>
                  @if (match.player_1 && match.player_2 && match.is_played === false) {
                    @if (user.nickname === match.player_1.nickname || user.nickname === match.player_2.nickname) {

                      <button class="btn btn-outline-primary" [routerLink]="['/home/pong-match/', MatchType.TOURNAMENT ,match.id]">Play the Match</button>
                    }
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Chat Section -->
    <div class="col-md-4">
      <div class="chat-section">
        <h3>Tournament Chat</h3>
        <div class="chat-box">
          <ng-container *ngFor="let message of messages">
            <div *ngIf="message.username && !message.message" class="join-message">
              <p>{{message.username}} has joined the chat</p>
            </div>
            <div *ngIf="message.message" class="chat-message user-message">
              <pre><strong>{{message.username}}:</strong> {{message.message}}</pre>
            </div>
          </ng-container>
        </div>
        <div class="chat-input">
          <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="message">
          <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
