<div class="container-fluid py-5">
  <h1 class="text-center mb-5 display-4 fw-bold">{{ 'Welcome to Transcendence' | translate }}</h1>

  @if(loggedInUser?.is_superuser) {
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title mb-4">{{ 'User Management' | translate }}</h2>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="table-light">
                  <tr>
                    <th>{{ 'ID' | translate }}</th>
                    <th>{{ 'E-mail' | translate }}</th>
                    <th>{{ 'Admin' | translate }}</th>
                    <th>{{ 'Is Active' | translate }}</th>
                    <th>{{ 'Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  @for(user of data; track user.id) {
                    <tr>
                      <td>{{user.id}}</td>
                      <td>{{user.email}}</td>
                      <td><span class="badge bg-{{ user.is_superuser ? 'success' : 'secondary' }}">{{user.is_superuser ? '✓' : '✗'}}</span></td>
                      <td><span class="badge bg-{{ user.is_active ? 'success' : 'danger' }}">{{user.is_active ? '✓' : '✗'}}</span></td>
                      <td>
                        <button *ngIf="user.is_active" class="btn btn-outline-danger btn-sm" (click)="toggleUserActivation(user.id, 'deactivate')">{{ 'Deactivate' | translate }}</button>
                        <button *ngIf="!user.is_active" class="btn btn-outline-success btn-sm" (click)="toggleUserActivation(user.id, 'activate')">{{ 'Activate' | translate }}</button>
                      </td>
                    </tr>
                  } @empty {
                    <tr>
                      <td colspan="5" class="text-center">{{ 'No data' | translate }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{{ 'Hello' | translate }} {{ user_profile?.nickname }}</h2>
            @if(loggedInUser?.is_intra_user) {
              <img [src]="user_profile?.intra_avatar" alt="User Avatar" class="img-fluid rounded-circle mb-4 d-block mx-auto" style="max-width: 150px;">
              <button class="btn btn-danger btn-lg w-40 d-block mx-auto" (click)="toggleUserActivation(loggedInUser?.id, 'deactivate')">{{ 'Deactivate Account' | translate }}</button>
            } @else {
              <form (ngSubmit)="saveProfileChanges()">
                <div class="mb-3">
                  <label for="nickname" class="form-label">{{ 'New nickname:' | translate }}</label>
                  <input type="text" id="nickname" name="nickname" [(ngModel)]="newNickname" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="avatar" class="form-label">{{ 'Avatar:' | translate }}</label>
                  <input type="file" id="avatar" (change)="onFileSelected($event)" class="form-control">
                </div>
                @if(user_profile?.avatar) {
                  <img [src]="user_profile?.avatar" alt="User Avatar" class="img-fluid rounded-circle mb-4 d-block mx-auto" style="max-width: 150px;">
                } @else {
                  <p class="text-muted text-center">{{ 'No avatar uploaded' | translate }}</p>
                }
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary btn-lg">{{ 'Save Changes' | translate }}</button>
                  <button type="button" class="btn btn-outline-danger btn-lg" (click)="toggleUserActivation(loggedInUser?.id, 'deactivate')">{{ 'Deactivate Account' | translate }}</button>
                </div>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
