
.card {
	box-shadow: 0 0 20px #4df7ff;
}

.custom-bg {
	background-color: rgba(0, 255, 255, 0.2); /* Matching the scrolled navbar color */
	backdrop-filter: blur(5px);
	
  }
  
  /* Optional: Add a gradient for more depth */
  .custom-bg::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 255, 0.1), transparent);
	pointer-events: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Ensure text is readable */
  .custom-bg.text-white {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  