<button class="btn btn-outline-primary chat-toggle" (click)="chat()">
	{{ isOpen ? 'Close Chat' : 'Open Chat' }}
  </button>
  
  <div class="chat-panel" [class.open]="isOpen">
	<div class="chat-container">
	  <div class="card">
		<div class="card-header text-center bg-primary text-white">
		  <h2>Inbox</h2>
		</div>
		<div class="card-body chat-box">
		  <ng-container *ngFor="let message of messages">
			<div *ngIf="message.username && !message.message" class="system-message">
			  <p>{{message.username}} has joined the chat</p>
			</div>
			<div *ngIf="message.message" class="chat-message">
			  <p>{{message.username}}: {{message.message}}</p>
			</div>
		  </ng-container>
		</div>
		<div class="card-footer">
		  <div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="message">
			<button class="btn btn-outline-primary" type="button" (click)="sendMessage()">Send</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  
  
<!-- 
  <div>
	<h1>Private Chat</h1>
	<input type="text" [(ngModel)]="receiver" placeholder="Type receiver nickname">
	<input type="text" [(ngModel)]="private_message" placeholder="Type a message...">
	<button (click)="sendPrivateMessage()">Send</button>
	<ul>
	  <li *ngFor="let message of private_messages">{{ message.sender }}: {{ message.message }}</li>
	</ul>
  </div> -->