<div class="tron-background">
  <div class="register-container">
    <h2 class="neon-text">{{ 'Register' | translate }}</h2>
    <form #registrationForm="ngForm" (ngSubmit)="userRegisteration()">
      <div class="input-group">
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required placeholder="{{ 'Email' | translate }}">
      </div>
      <div class="input-group">
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required placeholder="{{ 'Password' | translate }}">
      </div>
      <div class="input-group">
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="{{'Confirm Password' | translate }}">
      </div>
      <button type="submit" class="neon-button blue" [disabled]="!registrationForm.valid"> {{ 'Signup' | translate }} </button>
    </form>
    <p class="neon-text">
      {{ 'Already have account?' | translate }}' 
      <a routerLink="/login" class="neon-link">{{ 'Login?' | translate }} </a>
    </p>
  </div>
</div>