<div class="card login-card">
    <div class="card-header">
        <h5 class="card-title">{{ 'Reset password' | translate }}</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="old_password" class="form-label">{{ 'Old password' | translate }}</label>
                <input type="password" class="form-control" id="old_password" formControlName="old_password">
                <div *ngIf="old_password?.invalid && (old_password?.dirty || old_password?.touched)" class="text-danger">
                    <div *ngIf="old_password?.hasError('required')">
                        {{ getErrorMessage(old_password!, 'required') }}
                    </div>
                </div>
                <div *ngIf="old_passwordError?.value" class="text-danger">
                    <ul>
                        <li *ngFor="let error of old_passwordError!.value">{{ error }}</li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">{{ 'New password' | translate }}</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                    <div *ngIf="password?.hasError('required')">
                        {{ getErrorMessage(password!, 'required') }}
                    </div>
                </div>
                <div *ngIf="passwordError?.value" class="text-danger">
                    <ul>
                        <li *ngFor="let error of passwordError!.value">{{ error }}</li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">{{ 'Confirm new password' | translate }}</label>
                <input type="password" class="form-control" id="confirm_password"
                    formControlName="confirm_password">
                <div *ngIf="confirm_password?.invalid && (confirm_password?.dirty || confirm_password?.touched)"
                    class="text-danger">
                    <div *ngIf="confirm_password?.hasError('required')">
                        {{ getErrorMessage(confirm_password!, 'required') }}
                    </div>
                </div>
                <div *ngIf="changePasswordForm.errors?.['passwordMatchError'] && confirm_password?.value !== ''"
                    class="text-danger">
                    {{ getErrorMessage(confirm_password!, 'passwordMatchError') }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                {{ 'Change password' | translate }}
            </button>
        </form>

        <div [ngClass]=" {
            'text-success': success,
            'text-danger': !success
            }"
        >
            {{ message }}
        </div>
    </div>
</div>